Repository DotNetAnalyzers/BannedApiAnalyzer: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/BannedApiAnalyzer/::BannedApiAnalyzer/"

comment:
  layout: "diff"

flags:
  production:
    paths:
      - BannedApiAnalyzer/BannedApiAnalyzer/
      - BannedApiAnalyzer/BannedApiAnalyzer.CodeFixes/
  test:
    paths:
      - BannedApiAnalyzer/BannedApiAnalyzer.Test/

Fix build errors from the initial commit
  BannedApiAnalyzer/BannedApiAnalyzer.Test/ExportCodeFixProviderAttributeNameTest.cs
  BannedApiAnalyzer/BannedApiAnalyzer.Vsix/BannedApiAnalyzer.Vsix.csproj
  BannedApiAnalyzer/BannedApiAnalyzer/Helpers/HelpersResources.Designer.cs
  BannedApiAnalyzer/BannedApiAnalyzer/Helpers/HelpersResources.resx
  BannedApiAnalyzer/BannedApiAnalyzer/Helpers/SpecializedTasks.cs
  global.json
Due: production, test

Update Roslyn references to IOperation APIs are available
  BannedApiAnalyzer/BannedApiAnalyzer.CodeFixes/BannedApiAnalyzer.CodeFixes.csproj
  BannedApiAnalyzer/BannedApiAnalyzer.CodeFixes/BannedApiAnalyzer.nuspec
  BannedApiAnalyzer/BannedApiAnalyzer.Status.Generator/BannedApiAnalyzer.Status.Generator.csproj
  BannedApiAnalyzer/BannedApiAnalyzer.Test/BannedApiAnalyzer.Test.csproj
  BannedApiAnalyzer/BannedApiAnalyzer.Vsix/BannedApiAnalyzer.Vsix.csproj
  BannedApiAnalyzer/BannedApiAnalyzer/BannedApiAnalyzer.csproj
  BannedApiAnalyzer/BannedApiAnalyzer/ExcludeFromCodeCoverageAttribute.cs
  BannedApiAnalyzer/Directory.Build.props
Due: production, test

Fix binding redirects in the status generator
  BannedApiAnalyzer/BannedApiAnalyzer.Status.Generator/app.config
Due: none

Fix binding redirects in the status generator
  BannedApiAnalyzer/BannedApiAnalyzer.Status.Generator/BannedApiAnalyzer.Status.Generator.csproj
  BannedApiAnalyzer/BannedApiAnalyzer.Status.Generator/app.config
Due: none

Fix build status badge
  README.md
Due: none

Fix artifact path
  appveyor.yml
Due: none

Add separate analyzer assemblies for C# and Visual Basic
  BannedApiAnalyzer.sln
  BannedApiAnalyzer/BannedApiAnalyzer.CSharp/BannedApiAnalyzer.CSharp.csproj
  BannedApiAnalyzer/BannedApiAnalyzer.CSharp/Properties/AssemblyInfo.cs
  BannedApiAnalyzer/BannedApiAnalyzer.CodeFixes/BannedApiAnalyzer.CodeFixes.csproj
  BannedApiAnalyzer/BannedApiAnalyzer.CodeFixes/BannedApiAnalyzer.nuspec
  BannedApiAnalyzer/BannedApiAnalyzer.Status.Generator/BannedApiAnalyzer.Status.Generator.csproj
  BannedApiAnalyzer/BannedApiAnalyzer.Test/BannedApiAnalyzer.Test.csproj
  BannedApiAnalyzer/BannedApiAnalyzer.VisualBasic/BannedApiAnalyzer.VisualBasic.csproj
  BannedApiAnalyzer/BannedApiAnalyzer.VisualBasic/Properties/AssemblyInfo.cs
  BannedApiAnalyzer/BannedApiAnalyzer.Vsix/BannedApiAnalyzer.Vsix.csproj
  BannedApiAnalyzer/BannedApiAnalyzer.Vsix/source.extension.vsixmanifest
Due: production, test

Update to StyleCop Analyzers 1.1.1-rc.94
  BannedApiAnalyzer/Directory.Build.props
Due: none

Port BannedApiAnalyzer from dotnet/roslyn-analyzers
  BannedApiAnalyzer/BannedApiAnalyzer.CSharp/ApiDesign/CSharpSymbolIsBannedAnalyzer.cs
  BannedApiAnalyzer/BannedApiAnalyzer.Test/AnalyzerConfigurationTests.cs
  BannedApiAnalyzer/BannedApiAnalyzer.Test/ApiDesign/SymbolIsBannedAnalyzerTests.cs
  BannedApiAnalyzer/BannedApiAnalyzer.Test/ExportCodeFixProviderAttributeNameTest.cs
  BannedApiAnalyzer/BannedApiAnalyzer.VisualBasic/ApiDesign/BasicSymbolIsBannedAnalyzer.cs
  BannedApiAnalyzer/BannedApiAnalyzer/AnalyzerCategory.cs
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesign/ApiDesignResources.Designer.cs
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesign/ApiDesignResources.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesign/SymbolIsBannedAnalyzer.cs
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesign/SymbolIsBannedAnalyzer`1.cs
  BannedApiAnalyzer/BannedApiAnalyzer/Helpers/ITypeSymbolExtensions.cs
  BannedApiAnalyzer/BannedApiAnalyzer/Helpers/SyntaxNodeExtensions.cs
  DOCUMENTATION.md
  docs/ApiDesignRules.md
  docs/RS0030.md
  docs/RS0031.md
Due: production, test

Use 'VisualBasic' instead of 'Basic' consistently
  BannedApiAnalyzer/BannedApiAnalyzer.Test/AnalyzerConfigurationTests.cs
  BannedApiAnalyzer/BannedApiAnalyzer.Test/ApiDesign/SymbolIsBannedAnalyzerTests.cs
  BannedApiAnalyzer/BannedApiAnalyzer.VisualBasic/ApiDesign/VisualBasicSymbolIsBannedAnalyzer.cs
Due: test

Minimal updates so the status site shows diagnostic data
  BannedApiAnalyzer/BannedApiAnalyzer.CSharp/ApiDesignRules/CSharpSymbolIsBannedAnalyzer.cs
  BannedApiAnalyzer/BannedApiAnalyzer.Status.Generator/BannedApiDiagnostic.cs
  BannedApiAnalyzer/BannedApiAnalyzer.Status.Generator/SolutionReader.cs
  BannedApiAnalyzer/BannedApiAnalyzer.Test/AnalyzerConfigurationTests.cs
  BannedApiAnalyzer/BannedApiAnalyzer.Test/ApiDesignRules/SymbolIsBannedAnalyzerTests.cs
  BannedApiAnalyzer/BannedApiAnalyzer.VisualBasic/ApiDesignRules/VisualBasicSymbolIsBannedAnalyzer.cs
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.Designer.cs
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/SymbolIsBannedAnalyzer.cs
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/SymbolIsBannedAnalyzer`1.cs
  BannedApiAnalyzer/BannedApiAnalyzer/BannedApiAnalyzer.csproj
Due: production, test

Port localized resources
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.cs.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.de.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.es.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.fr.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.it.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.ja.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.ko.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.pl.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.pt-BR.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.ru.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.tr.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.zh-Hans.resx
  BannedApiAnalyzer/BannedApiAnalyzer/ApiDesignRules/ApiDesignResources.zh-Hant.resx
  BannedApiAnalyzer/Directory.Build.targets
Due: production

Update installation notes to reference correct versions
  README.md
Due: none
